.list-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.todo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 10px;
    margin: 5px;
    background-color: #e6f2ff;
    border-radius: 5px;
}

.completed-todo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 10px;
    margin: 5px;
    background-color: #d9d9d9;
    border-radius: 5px;
}